body {
     background: #F0F8FF;
     color: #696969;
     font-size: 14px;
     font-family: helvetica;
}

h1 {
	font-size: 2.5em;
}

a:link {
    color: #5F9EA0;
}

a:visited {
    color: #008B8B;
}